<h1><%=@list.name%></h1>

<% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <h5><%= movie.title %> <%= movie.rating %></h5>
    <p><%= movie.overview %></p>
    <p><%= bookmark.comment %></p>
<%= link_to "Delete this movie", bookmark_path(bookmark), method: :delete  %>
<% end %>

<%= link_to "Add a new movie", new_list_bookmark_path(@list)%>
<%= link_to "Delete this list", list_path(@list), method: :delete, data: { confirm: "Are you sure you want to delete this list?" } %>
<%= link_to "Go back to lists", lists_path %>
